.tooltip {
  position: relative;
  background-color: var(--container);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-30);
  text-align: center;
}

.tooltip::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  content: " ";
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.date {
  color: var(--gray-40);
}
